
/* ================= FONTS ================ */
$base-font-size: 16;
$main-font: 'Montserrat', sans-serif;


/* ================= COLORS================ */
$main-font-color: #585858;
$accent-color: #F7B205;
$accent-color2: #61bdb6;
$footer-color: #99E6E0;
$footer-color2: #e8e8e8;


/* ============ BREAKPOINTS =============== */
$xs-small : 320; // iPhone Retina
$small : 480; // Phone
$medium-small : 600;
$medium : 768; // Tablets
$normall : 992; // Desktops
$large : 1200; //Large Devices, Wide Screend 